* {
  margin: 0px;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: gray;
  height: 70px;
  display: flex;
  justify-content: center;
}

ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul {
  list-style: none;
}

.link {
  width: 50px;
  display: inline-block;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  font-size: 20px;
}
