.nav {
  top:0;
  background: rgb(61, 61, 61);
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 60px;
}

/* .margin{
  margin-bottom: 60px;
} */

.AnchorLink {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 0px 7px;
}

ul {
  display: flex;
  margin-left: 0px;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.link {
  padding: 0px 10px;
  margin: 0px 0xp;
  display: inline-block;
  color: white;
}
