* {
  color: white;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-shrink: 1;
}

.container {
  width: 40vw;
  background-color: rgb(34, 32, 39);
  margin-top: 30px;
}

@media screen and (max-width: 460px){

  .h1{
    font-size: 2rem;
  }

  .container{
    width: 80vw;
  }
}

.h1, .h3, .p{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.button{
  background-color: gray;
  margin-left: calc(100% - 105px);
}

.button a{
  color: black;
  text-decoration: none;
  padding: 5px;
  display: block;
  width: 90px;
}